<template name="layout">
	<div class="container">
		<ul class="nav nav-pills">
  			<li role="presentation">
  				<a href="{{pathFor 'home'}}">Home</a>
  			</li>
 			 <li role="presentation">
 			 	<a href="/comments">Reviews</a>
 			 </li>
        <li role="presentation">
        <a href="/settings">Settings</a>
       </li>
       <li role="presentation">
          <a href="/place">Plan Your Trip</a>
        </li>
 			 <li>
 			 	{{> loginButtons}}
 			 </li>
		</ul>
	{{> yield}}

	</div>
</template>